footer {
    height: 50px;
    display: grid;
    place-items: center;
    background: #ffffff;
    opacity: 0.5;
}


footer a {
    font-size: 90%;
    text-decoration: none;
    color:rgb(0, 0, 0);

}
