div#root {
   
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
div#root div.centrepane{
    background: rgb(246, 243, 243);
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
div#root div.centrepane > main {
    padding:30px;
    width: 100%;
}
.card {
    background-color: #FFFFFF;
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #BDBDBD;
  }
  .card__image {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    max-height: 200px;
  }
  .card__copy {
    padding: 20px;
  }
