nav {
    display: flex;
    overflow: hidden;
    background-color: #95665891;
    
    
}

nav div.navItem{padding :10px;}
nav div.navItem:hover{background-color: rgb(205, 200, 196);}
nav div.navItem a {color:black; text-decoration: none;}
nav div.navItem a.navSelected{color: white;}
